.highlight
{
  background-color: bisque;
}
.navbar-stlye
{
  background-color: bisque!important;
}

.green-highlight
{
  color: greenyellow;
  font-size: 40px;
}

.pink-highlight
{
  color: lightpink;
  font-size: 25px;
}

.hand-icon {
  cursor: pointer;
}